nav,
h1,
h2,
p,
img{
   margin-bottom: 25px;
}
li{
   font-family: "Roboto", sans-serif;
   font-size: 20px;
   text-decoration: underline;
   color: blueviolet;
   font-weight: 900;
}
h1,
h2,
#pacifico,
footer a{
   font-family: "Pacifico", cursive;
}
h1{
   font-size: 75px;
   color: crimson;
   text-shadow: 10px -2px 10px cornflowerblue;
}
.larsseit{
   font-family: "Larsseit", sans-serif;
   }
h1 + p {
   color:cadetblue;
   font-size: 22px;
}
img{
   width: 600px;
}
.font-family mark{
   font-size: 28px;
   color:blue;
   font-weight: 700;
}
h2{
   font-size: 45px;
   color: darkblue;
   text-shadow: 25px -8px 5px rgba(132, 130, 130, 0.412);
}
.larsseit.blue{
   color: blue;
   font-size: 26px;
   font-weight: 700;
} 
.font-family > p.yellow{
   color:yellow;
   font-weight: 500;
   font-size: 22px;
}
p.lato{
   font-family: "Lato", sans-serif;
   font-size: 24px;
   font-weight: 700;
   color:darkslategrey;
}
.lato.cirillic{
   font-weight: 900;
   color: rgb(22, 7, 22);
}
p + .roboto{
   font-family: "Roboto", sans-serif;
   color: blueviolet;
   font-size: 22px;
   font-weight: 700;
   }
#pacifico{
   font-size: 25px;
}
span{
   color: brown;
}
#default span{
   color: red;
   text-decoration: underline;
} 
#default {
   color:darkcyan;
   font-size: 22px;
   font-weight: 700;
}
h2~p{
   color:midnightblue;
}
h2 ~ p.footer{
   color: rgb(158, 155, 180);
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
}
.google-fonts h2 ~ p{
   color: darkcyan;
   font-family: 'Roboto', sans-serif;
}
.google-fonts h2 + p{
   color:brown;
}
.google-fonts h2 ~ img{
   width: 300px;
   margin-bottom: 0;
}
li>p{
   color: darkolivegreen;
   font-weight: 400;
}
.google-fonts li{
   text-decoration: none;
}
footer a{
   color: crimson;
   font-size: 35px;
}